html, body {
    margin: 0;
    padding: 0;
    font-family: Candara;
}

body {
    background-color: #DADADA;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }

.timestamp {
    font-size: small;
    letter-spacing: 1px;
}

.owner {
    font-size: medium;
    font-weight: 900;
}